<main class="document-form">
  <button mat-fab extended class="back-button" [routerLink]="'dashboard'">
    <mat-icon>arrow_back</mat-icon>
    Go Back
  </button>

  @if (!!fileData()?.status) {
    <div class="status-date-container">
      <app-status-chip [status]="fileData()?.status"/>

      <div class="status-time">
      <span class="last-updated">
          Updated: {{ fileData()?.updatedAt | date: 'short' }}
        </span>
      </div>
    </div>
  }

  <div class="top-bar">
    <div class="document-info">
      <form [formGroup]="form" class="form-container">
        @if (isEditMode()) {
          <div class="document-name-container">
            @if (isRenaming()) {
              <app-form-field
                (keyup.enter)="saveNewName()"
                [controlName]="'name'"
                [formGroup]="form"
                [type]="'text'"
                [error]="'Name is required'"
                [placeholder]="'Enter document name'"
              >
              </app-form-field>
              <mat-icon class="save-name-button" (click)="saveNewName()">edit_document</mat-icon>
            } @else {
              <span (click)="startRenaming()" class="document-title"
                    [matTooltip]="userRole() === 'USER' ? 'Click to edit document name' : 'Document Name' ">
                <span style="font-weight: bold">Title: </span>
                {{ form.get('name')?.value }}
              </span>
            }
          </div>
        } @else {
          <app-form-field
            (keyup.enter)="saveNewName()"
            [controlName]="'name'"
            [formGroup]="form"
            [type]="'text'"
            [error]="'Name is required'"
            [placeholder]="'Enter document name'"
          >
          </app-form-field>
        }
      </form>

    </div>


    <div class="actions">
      @if (!isEditMode()) {
        <button mat-raised-button color="primary" (click)="saveAsDraft()"
                [disabled]="form.invalid || (!selectedFile() && !fileUrl())">
          Save as Draft
        </button>
        <button mat-raised-button color="accent" (click)="submitToReview()"
                [disabled]="form.invalid || (!selectedFile() && !fileUrl())">
          Submit for Review
        </button>
      }

      @if (canRevoke()) {
        <button mat-raised-button color="warn" (click)="revokeDocument()">
          Revoke
        </button>
      }

      @if (canBeReviewed()) {
        <button mat-raised-button color="accent" (click)="sendToReview()">
          Send to Review
        </button>
      }

      @if (canDelete()) {
        <button
          mat-icon-button
          color="warn"
          aria-label="Remove Document"
          (click)="deleteDocument()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      }

      <div class="status-actions">
        @if (canStartReview()) {
          <button mat-stroked-button color="primary" (click)="changeStatus(DocumentStatus.UNDER_REVIEW)">Under
            Review
          </button>
        }

        @if (canApproveOrDecline()) {
          <button mat-stroked-button color="accent" (click)="changeStatus(DocumentStatus.APPROVED)">Approve</button>
          <button mat-stroked-button color="warn" (click)="changeStatus(DocumentStatus.DECLINED)">Decline</button>
        }
      </div>
    </div>
  </div>

  <div class="content-area">
    <section class="viewer-panel">
      @if (fileUrl()) {
        <pdf-viewer [documentUrl]="fileUrl()"></pdf-viewer>
      } @else {
      <div
        class="upload-dropzone"
        (drop)="onDropFile($event)"
        (dragover)="onDragOver($event)"
        (click)="fileInput.click()"
      >
        <input
          #fileInput
          type="file"
          hidden
          accept="application/pdf"
          (change)="onFileChange($event)"
        />
        <div class="upload-message">
          <mat-icon>upload</mat-icon>
          <p>Drag & Drop your PDF here<br>or click to select</p>
        </div>
      </div>
    }
    </section>
  </div>
</main>
