@use 'variables' as *;

.document-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;

  .back-button {
    align-self: flex-start;
    background: transparent;
    color: $color-header;
    font-weight: bold;
    border-radius: 6px;
    text-transform: none;
    transition: background-color 0.3s;
    height: 30px;
    box-shadow: none;

    &:hover {
      background: $color-secondary;
      color: $color-dark;
    }
  }

  .status-date-container {
    display: flex;
    justify-content: space-between;
  }

  .top-bar {
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    padding: 0 1rem;
    align-items: center;

    .document-info {
      display: flex;
      gap: 1rem;

      .save-name-button {
        cursor: pointer;

        &:hover {
          color: $color-primary;
        }
      }

      .info-icon {
        cursor: help;
        color: #696969;
        font-size: 1rem;
      }
    }

    .document-title {
      cursor: pointer;
    }

    .document-name-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
    }
  }

  .content-area {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    min-height: 70vh;
  }

  .form-panel {
    flex: 0 0 40%;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      margin-top: 0;
      font-size: 1.5rem;
      font-weight: 600;
      color: $color-dark;
      cursor: pointer;
    }

    .document-title {
      &:hover {
        text-decoration: underline;
      }
    }

    mat-form-field.full-width {
      width: 100%;
    }

  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

    .status-actions {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }


  .viewer-panel {
    flex: 1 1 100%;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;

    .upload-dropzone {
      width: 100%;
      height: 100%;
      min-height: 400px;
      min-width: 300px;
      border: 2px dashed $color-primary;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #fafafa;
      color: $color-muted;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #f0f0f0;
      }

      .upload-message {
        text-align: center;
        font-family: $font-family-base;

        mat-icon {
          font-size: 1.8rem;
          margin-bottom: 8px;
          color: $color-primary;
        }

        p {
          margin: 0;
          font-size: 1rem;
          color: $color-dark;
        }
      }
    }
  }

}

.general-button {
  background-color: $color-primary;
  color: $color-dark;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: $font-family-base;
  transition: background-color 0.3s;
  height: 40px;

  &:hover {
    background-color: rgba(252, 184, 17, 0.8);
  }

  &:disabled {
    background-color: rgba(252, 184, 17, 0.6);
    cursor: not-allowed;
  }

  &.warn-button {
    background-color: $color-danger;
    color: $color-light;

    &:hover {
      background-color: lighten($color-danger, 10%);
    }
  }
}
