$color-primary: rgb(252, 184, 17);
$color-secondary: #efefef;
$color-dark: #191919;
$color-danger: #e80739;
$color-light: #ffffff;
$color-muted: #696969;
$color-header: #4e4e4e;

$font-family-base: 'Roboto', sans-serif;

$border-radius: 8px;
$padding-base: 1rem;
$padding-large: 2rem;

$header-height: 64px;

$z-index-header: 1000;
$z-index-modal: 2000;
