@use 'variables';

.filters, {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin: 16px 20px;
  box-sizing: border-box;
  padding: 10px;
  background: white;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;

  .filter-inputs {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  mat-form-field {
    flex: 1 1 180px;

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-infix {
      padding: 0.25rem 0;
      font-size: 0.875rem;
    }

    .mat-form-field-label {
      top: 1rem;
    }
  }
}

.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;

  mat-table {
    min-width: 800px;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
  }

  .mat-mdc-header-row {
    background: variables.$color-header;
    color: variables.$color-secondary
  }

  .mat-mdc-row:nth-child(odd) {
    background: variables.$color-secondary;
  }
}

.button-sort {
  color: variables.$color-secondary;
}

.table-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;

  .title-row {
    display: flex;
    justify-content: space-between;

    .refresh-button {
      margin: 8px 12px 0 0;
      cursor: pointer;

      &:hover {
        color: rgba(252, 184, 17, 0.85);
      }
    }
  }
}

.action-buttons {
  display: flex;
  gap: 0.5rem;

  button {
    font-size: 0.85rem;
    min-width: auto;

    &[color="primary"] {
      color: variables.$color-dark;

      &:hover {
        background: #fff;
        color: rgba(252, 184, 17, 0.85);
      }
    }

    &[color="warn"] {
      color: variables.$color-dark;

      &:hover {
        color: variables.$color-danger;
      }

      &:disabled {
        color: variables.$color-muted;
      }
    }
  }
}

.create-button {
  background-color: variables.$color-primary;
  color: variables.$color-dark;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: variables.$font-family-base;
  transition: background-color 0.3s;
  height: 40px;

  &:hover:enabled {
    background-color: rgba(252, 184, 17, 0.8);
  }

  &:disabled {
    background-color: rgba(252, 184, 17, 0.6);
    cursor: not-allowed;
  }
}

.empty-message, .loading-message {
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
  color: variables.$color-muted;
  font-style: italic;
}

.loading-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

mat-paginator {
  margin-top: 0;
  border-top: 1px solid;
  font-family: variables.$font-family-base;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
