<div class="filters">
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select [value]="query().status" (selectionChange)="onStatusChange($event.value)" placeholder="Status">
      <mat-option [value]="null">All</mat-option>
      @for (status of statusOptions; track status.value) {
        <mat-option [value]="status.value">{{ status.label }}</mat-option>
      }
    </mat-select>
    <mat-hint align="start"></mat-hint>
  </mat-form-field>

  @if (isReviewer()) {
    <mat-form-field appearance="outline">
      <mat-label>Creator Email</mat-label>
      <input matInput [value]="creatorEmail()" (input)="onEmailInput($any($event.target).value)" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Creator UUID</mat-label>
      <input matInput [value]="creatorId()" (input)="onUuidInput($any($event.target).value)" />
    </mat-form-field>
  }
</div>

<div class="table-container">
  <h6>Document List</h6>
  <section class="table-wrapper mat-elevation-z8">
    <mat-table [dataSource]="data()" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
          Name
          <button mat-icon-button class="button-sort" (click)="toggleSort('name')">
            <mat-icon>
              {{
                query().sort === 'name, asc' ? 'arrow_downward' : 'unfold_more'
              }}
            </mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Status
          <button mat-icon-button class="button-sort" (click)="toggleSort('status')">
            <mat-icon>
              {{
                query().sort === 'status, asc' ? 'arrow_downward' : 'unfold_more'
              }}
            </mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <app-status-chip [status]="row.status"/>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creatorEmail" *ngIf="isReviewer()">
        <mat-header-cell *matHeaderCellDef> Creator Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.creator.email }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef>
          Updated
          <button mat-icon-button class="button-sort" (click)="toggleSort('updatedAt')">
            <mat-icon>
              {{
                query().sort === 'updatedAt, asc' ? 'arrow_downward' : 'unfold_more'
              }}
            </mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.updatedAt | date: 'short' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="action-buttons">
            <button mat-icon-button color="primary" (click)="viewDocument(row.id)" aria-label="View Document">
              <mat-icon>visibility</mat-icon>
            </button>
            <button
              *ngIf="user()?.role === UserRole.USER"
              mat-icon-button
              color="warn"
              aria-label="Remove Document"
              [disabled]="!(row.status === DocumentStatus.DRAFT || row.status === DocumentStatus.REVOKE)"
              (click)="removeDocument(row.id, row)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row  *matHeaderRowDef="displayedColumns(); sticky: true"></mat-header-row>
      <mat-row  *matRowDef="let row; columns: displayedColumns();"></mat-row>

    </mat-table>

    @if (!data().length && !isLoading()) {
      <div class="empty-message">
        No documents found.
      </div>
    }
  </section>

  <mat-paginator
    [length]="totalCount()"
    [showFirstLastButtons]="true"
    [pageIndex]="query().page - 1"
    [pageSize]="query().size"
    [pageSizeOptions]="[5, 10, 20, 50]"
    (page)="onPageChange($event)"
    >
  </mat-paginator>
</div>
